/* Estilos generales *************************************************************/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #33082D;
}

img,
video,
iframe {
    width: 100%;
}

.secciones {
    margin: 0 10%;
    padding: 2rem;
    color: #F5F5F5;
}
/*
.prueba {
   color: white
}
*/

h2 {
    color: white;
}

/* Encabezado *****************************************************************/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #F5F5F5;    
}

.logo-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10%;
    padding: 0 2rem;
}

header img {
    width: 229px;
}

header ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #33082D
}

/* Anclas del menú de navegación *********************************************/
#inicio, #productos, #contacto {
    position: relative;
    top: -10rem;
}

/* Media *********************************************************************/

.media {
    margin-top: 129px;
}

/* Productos ******************************************************************/
.productos {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.producto {
    background-color: #6F8191;
    width: 16rem;
    height: 22rem;
    border: 1px solid gray;
    border-radius: 10px;
}

.producto-contenido {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.producto img {
    border-radius: 10px 10px 0 0;
    height: 15rem;
    background-color: white;
}

/* Formas de pago y Contacto ***************************************************/
#formas-de-pago-contacto {
    background-image: url(imagenes/grape-picture.jpg);    
    background-size: cover;
    line-height: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#formas-de-pago-contacto h2 {
    color: #33082D;
}

#formas-de-pago-contacto a {
    color: #630256;
}

.fondo-transparente {
    background-color: rgba(255, 255, 255, 0.6);
    color: #33082D;
    margin: 2rem 0;
}

/* Contacto */
form {
    display: flex;
    height: 10rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

form div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

/* Reseñas *******************************************************************/
.resenias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
    place-items: center;
    padding: 1rem;    
}

.card {
    background-color: #F5F5F5;
    border-radius: 10px;
    color: #6F8191;
    position: relative;
    margin-top: 4rem;
    width: 15rem;
    padding: 2rem 1rem 0;
    display: flex;
    justify-content: center;    
    box-shadow: 10px 10px 10px #b40e9e;
    transition: transform 0.3s ease-out;
}

.card:hover {
    transform: translateY(-10px)
}

.card img {
    position: absolute;
    top: -2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 20px;
}

.card-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.card-nombre {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.card .fa-solid {
    color: rgb(255, 217, 0);
}

.card-fecha {
    font-size: 0.6rem;
}

.card-content p {
    font-style: italic;
    font-size: 0.9rem;
}

/* Footer  *******************************************************************/
footer {
    background-color: black;
    color: #F5F5F5;
    padding: 2rem 4rem;
}

.contenido-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contenido-footer ul {
    list-style: none;
    padding: 0;
    line-height: 2rem;
}

.contenido-footer a {
    text-decoration: none;
    color: #6F8191;
}

.redes-footer {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.contenido-footer h4 {
    margin-bottom: 0;
}

.copy-footer p {
    font-size: smaller;
}

.copy-footer {
    text-align: center;
}

/* Media Queries *************************************************************/
@media (max-width: 724px) {
    body {
        display: grid;
        grid-template-areas: 
            "encabezado"
            "productos"
            "footer";
        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    header {
        grid-area: encabezado;
    }

    aside {
        display: none;
    }

    main {
        grid-area: productos;
    }

    footer {
        grid-area: footer;
    }

    header img {
        width: 115px;
    }

    header ul {
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    .media {
        margin-top: 50px;
    }
}

@media (min-width: 725px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-areas: 
            "encabezado"
            "productos"
            "footer";
        grid-template-columns: 1fr;
        min-height: 100vh;
    }

    header {
        grid-area: encabezado;
    }

    aside {
        display: none;
    }

    main {
        grid-area: productos;
    }

    footer {
        grid-area: footer;
    }
}

@media (min-width: 1025px) {
    body {
        display: grid;
        grid-template-areas: 
            "encabezado     encabezado"
            "barra-izq      productos"
            "footer         footer";
        grid-template-columns: 10% 90%;
        grid-template-rows: auto auto auto;
        min-height: 100vh;
    }

    header {
        grid-area: encabezado;
    }

    aside {
        grid-area: barra-izq;
    }

    main {
        grid-area: productos;
    }
    footer {
        grid-area: footer;
    }
}
